@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<p><strong>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { data_role = "button", data_mini = "true", data_inline = "true" }) > @ViewData["Title"] </strong></p>
<h2>@ViewData["Title"].</h2>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Change Password Form</li>

        <li class="ui-field-contain">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
        </li>

        <li class="ui-field-contain">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
        </li>

        <li class="ui-field-contain">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>

        <li class="ui-field-contain">
            <button type="submit">Change password</button>
        </li>
    </ul>

}